# Environment
.env
.env.*
!.env.example
.envrc
.environment

# OS Generated
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.vs/

# Backup Files
*.bak
*.backup
*.orig
*.swp
*.swo

# Log Files
*.log
*.log.*
logs/
log/
/logs
/log

# Custom
.copy
_back
.back
